{% extends "::base.html.twig" %}

{% block title %}ViewerBundle:Gestion:indexCabinet{% endblock %}

{% block body %}

    <div class="container fondblanc">
        <h1 class="title"><a class="title1">Liste des</a><a class="title2">patients</a></h1>
        <table id="liste-patients" class="table table-striped">
            <thead>
            <tr class="categorie">
                <th class="text-center">Référence Patient</th>
                <th class="text-center">Nom Patient</th>
                <th class="text-center">Nombre de gouttières sup.</th>
                <th class="text-center">Nombre de gouttières inf.</th>
                <th class="text-center">Durée estimée</th>
                <th class="text-center">Vue 3D</th>
                <th class="text-center">État</th>
            </tr>
            </thead>
            <tbody>
            {% for folder in folders %}
                <tr>
                    <td>{% if folder.ref is not null %} {{ folder.ref }} {% endif %}</td>
                    <td>{% if folder.nom is not null %} {{ folder.nom }}{% endif %}</td>
                    <td>{% if folder.nbGtS is not null %} {{ folder.nbGtS }}{% endif %}</td>
                    <td>{% if folder.nbGtI is not null %} {{ folder.nbGtI }}{% endif %}</td>
                    <td>{% if folder.estimationTraitement is not null %} {{ folder.estimationTraitement }} semaines{% endif %}</td>
                    <td>
                        <div class="input-group">
                            <input class="form-control" id="url-{{ folder.id }}" value="{{ path('viewer_3D', {md5 : folder.md5}) }}" readonly>
                            <span class="input-group-btn">
                                <button data-target="url-{{ folder.id }}" title="Copier" class="copy btn btn-default">
                                    <span class="glyphicon glyphicon-paperclip"></span>
                                </button>
                            </span>

                        </div>
                    </td>
                    <td class="text-center">
                        {% if folder.accepted == true %}
                            <input data-folder="{{ folder.id }}" class="checkbox-validate" value="checked" checked type="checkbox"/>
                        {% else %}
                            <input data-folder="{{ folder.id }}" class="checkbox-validate" value="checked" type="checkbox"/>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="loading">
            <img src="{{ asset('bundles/viewer/img/ajax-loader.gif') }}"/><br>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-2.2.4/dt-1.10.13/datatables.min.css"/>
    <style>
        .categorie{
            background-color: #2980b9;
            color: #FFFFFF;
        }

        .table{
            text-align: center;
            border: 2px solid #2980b9;
        }

        /* Couleur de fond de chaque cellule */
        td{
            background-color:#fbfbfb;
        }

        /*Survol*/
        tr:hover td{
            background-color:#D2EAFB;
        }


        .input-group{
            border-radius: 0;
        }

        table.table>tbody>tr>td {
            vertical-align: middle;
        }

        label{
            background-color: #2980b9;
            color: #fff;
            padding:4px 4px 4px 10px;
        }

        table.table>tbody>tr>td {
            vertical-align: middle;
        }
        .loading {
            padding-top:220px;
            z-index: 9999;
            opacity:1!important;
            width:100%;
            top:0;
            left:0;
            text-align: center;
            position: absolute;
        }
    </style>
{% endblock %}

{% block javascript %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-2.2.4/dt-1.10.13/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.loading').fadeOut();
            $('#liste-patients').fadeTo('slow', 1 );
        });
        $('table#liste-patients').DataTable( {
            'paging' :false,
            "info": false,
            "language": {
                "search": "Rechercher",

            }
        });
        $('.checkbox-validate').change(function () {
            var state;
            var folderId = $(this).data('folder');
            if($(this).is(":checked")) {
                state = 'checked';
            } else {
                state = 'unchecked';
            }
            $.ajax({
                url: Routing.generate('validate_folder', {folder : folderId}),
                data: { state },
                beforeSend: function() {},
                success: function( data ) {

                }
            })
        });

    </script>
{% endblock %}
