<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


    <!-- Appel des bibliothèques Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/viewer/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />


</head>
    <body>
        {% block navbar %}
            <!-- Fixed navbar -->
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Viewer Neo3D</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Accueil</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} <span class="glyphicon glyphicon-user"></span></a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion <span class="glyphicon glyphicon-log-out"></span></a></li>
                            {% else %}
                                <li><a href="{{ path('fos_user_security_login') }}">Se connecter <span class="glyphicon glyphicon-log-in"></span></a></li>
                            {% endif %}
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
            <div style="padding-bottom:50px;"></div>
        {% endblock %}
        {% block body %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
