{% extends 'base.html.twig' %}
{% block title %}Viewer 3D{% endblock %}
{% block navbar %}
{% endblock %}
{% block body %}
<div class="loader"><img style="width:100px" class="text-center img center-block img-responsive" src="{{ asset('bundles/viewer/img/loader.gif') }}"/></div>
<div class="no-padding col-md-12">
    <div class="col-md-5 no-padding" id="malloc"></div>
    <div class="col-md-5 no-padding" id="setup"></div>
    <div class="col-md-2 no-padding" id="infos">
        <div class="infos-head">
            <h1 class="text-center"><u>Infos</u></h1>
            <ul class="list-group">
                {% if folder.ref != '' %}<li class="list-group-item"> <b>Ref patient</b> : {{ folder.ref }}</li>{% endif  %}
                {% if folder.nom != '' %}<li class="list-group-item"> <b>Nom patient</b> : {{ folder.nom }}</li>{% endif  %}
                {% if folder.nbGtS!= '' %}<li class="list-group-item"> <b>Gouttières sup. nécéssaires</b> : {{ folder.nbGtS }}</li>{% endif  %}
                {% if folder.nbGtI != '' %}<li class="list-group-item"> <b>Gouttières inf. nécéssaires</b> : {{ folder.nbGtI }}</li>{% endif  %}
                {% if folder.estimationTraitement != '' %}<li class="list-group-item"> <b>Temps de traitement estimé</b> : {{ folder.estimationTraitement }}</li>{% endif  %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block stylesheets %}

    <style>
        body {
            overflow: hidden;
            margin: 0;
            padding: 0;
            background-color: #000000;
        }
        .img {
            margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
            transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
        }
        .loader {
            width:100vw;
            height:100vh;
        }
        .no-padding {
            padding:0!important;
        }
        p {
            margin: 0;
            padding: 0;
        }


        a {
            color: #f58231;
        }
    </style>
{% endblock %}
{% block javascript %}
    <script src="{{ asset('bundles/viewer/js/three.js') }}"></script>
    <script src="{{ asset('bundles/viewer/js/Detector.js') }}"></script>
    <script src="{{ asset('bundles/viewer/js/OrbitControls.js') }}"></script>
    <script src="{{ asset('bundles/viewer/js/OBJLoader.js') }}"></script>
    <script src="{{ asset('bundles/viewer/js/MTLLoader.js') }}"></script>

    <script>

        if (!Detector.webgl) {
            Detector.addGetWebGLMessage();
        }

        var containerMalloc, containerSetup;

        var camera, controls, controls2, scene, scene2, renderer, renderer2;
        var lighting, ambient, keyLight, fillLight, backLight;

        var windowHalfX = window.innerWidth / 2;
        var windowHalfY = window.innerHeight / 2;

        init();
        animate();

        function init() {

            containerMalloc = document.getElementById('malloc');
            containerSetup = document.getElementById('setup');

            /* Loader */
            var manager = new THREE.LoadingManager();
            manager.onProgress = function( item, loaded, total ) {
                console.log( item, loaded, total );
                if (loaded == 4) { // Quand 4 fichiers ont été chargés, le loader s'enlève
                    console.log('maintenant');
                    $('.loader').fadeOut( "slow", function() {
                    });
                }
            };
            var onProgress = function( xhr ) {
                if ( xhr.lengthComputable ) {
                    var percentComplete = xhr.loaded / xhr.total * 100;
                    console.log( Math.round( percentComplete, 2 ) + '% downloaded' );
                }
            };
            var onError = function( xhr ) {
            };

            /* Camera */
            camera = new THREE.PerspectiveCamera(20, (window.innerWidth / 2) / window.innerHeight, 1, 10000);
            camera.position.z = 300;


            /* Scene */

            scene = new THREE.Scene();
            scene2 = new THREE.Scene();

            lighting = false;

            var light = new THREE.AmbientLight( 0xcccccc ); // soft white light
            scene.add( light );

            var light2 = new THREE.SpotLight( 0xffffff );
            light2.position.set( 0, 100, 100 );
            light2.castShadow = true;
            light2.shadow.mapSize.width = 500;
            light2.shadow.mapSize.height = 500;
            light2.shadow.camera.near = 500;
            light2.shadow.camera.far = 400;
            light2.shadow.camera.fov = 30;
            scene.add( light2 );

            var light3 = new THREE.DirectionalLight( 0x999999 );
            light3.position.set( 0, -100, -50 );
            scene.add( light3 );


            var light4 = new THREE.AmbientLight( 0xffffff ); // soft white light
            scene2.add( light4 );



            var light5 = new THREE.SpotLight( 0xffffff, 1, 186, 1, 0, 2);
            light5.position.set( 0, 100, 100 );
            light5.castShadow = true;
            light5.shadow.mapSize.width = 500;
            light5.shadow.mapSize.height = 500;
            light5.shadow.camera.near = 500;
            light5.shadow.camera.far = 400;
            light5.shadow.camera.fov = 30;
            scene2.add( light5 );

            var light6 = new THREE.DirectionalLight( 0x1D3824, 0.5 );
            light6.position.set( 0, -100, -50 );
            scene2.add( light6 );

            var light7 = new THREE.DirectionalLight( 0x1D3824, 0.5 );
            light7.position.set( 10, 30, 50 );
            /*var helper = new THREE .DirectionalLightHelper( light7, 3);
            scene2.add(helper);*/
            scene2.add( light7 );

            var light8 = new THREE.DirectionalLight( 0x4ABD6A, 0.5 );
            light8.position.set( -50, 100, 50 );
            scene2.add( light8 );


            /* Model */

            var mtlLoader = new THREE.MTLLoader( manager );
            mtlLoader.setBaseUrl('../../uploads/documents/');
            mtlLoader.setPath('../../uploads/documents/');
            mtlLoader.load('{{ folder.mallocMtl }}', function (materials) {


                var objLoader = new THREE.OBJLoader();
                objLoader.setMaterials(materials);
                objLoader.setPath('../../uploads/documents/');
                objLoader.load('{{ folder.mallocObj }}', function (object) {

                    scene.add(object);

                });

            },onProgress, onError);
            mtlLoader.load('{{ folder.setupMtl }}', function (materials) {


                var objLoader = new THREE.OBJLoader();
                objLoader.setMaterials(materials);
                objLoader.setPath('../../uploads/documents/');
                objLoader.load('{{ folder.setupObj }}', function (object) {

                    scene2.add(object);

                },onProgress, onError);

            });

            /* Renderer */
            renderer = new THREE.WebGLRenderer({ antialias: true});
            renderer.setSize(containerMalloc.offsetWidth , window.innerHeight);
            renderer.setPixelRatio( window.devicePixelRatio );
            renderer.setClearColor(new THREE.Color("hsl(0, 0%, 10%)"));

            renderer2 = new THREE.WebGLRenderer( { antialias: true});
            renderer2.setPixelRatio(window.devicePixelRatio);
            renderer2.setSize(containerSetup.offsetWidth , window.innerHeight);
            renderer2.setClearColor( new THREE.Color("hsl(0, 0%, 10%)") );

            containerMalloc.appendChild(renderer.domElement);
            containerSetup.appendChild(renderer2.domElement);

            /* Controls */

            controls = new THREE.OrbitControls(camera, renderer.domElement);
            controls.enableDamping = true;
            controls.dampingFactor = 0.25;
            controls.enableZoom = true;

            controls2 = new THREE.OrbitControls(camera, renderer2.domElement);
            controls2.enableDamping = true;
            controls2.dampingFactor = 0.25;
            controls2.enableZoom = true;


        }


        function animate() {

            requestAnimationFrame(animate);

            controls.update();
            controls2.update();

            render();

        }

        function render() {

            renderer.render(scene, camera);
            renderer2.render(scene2, camera);

        }

    </script>
{% endblock %}
